
h1 {
    color: @threeservi;
    text-align: center;
    margin: 2rem;
}

.team-boxes {
  display: grid;
  grid-gap: 5%;
  grid-template:
  [row1-start] "member-1 member-2 member-3" 1fr [row1-end]
  [row2-start] "member-4 member-5 member-6" 1fr [row2-end]
  [row3-start] "member-7 member-8 member-9" 1fr [row3-end]
  / 1fr 1fr 1fr;

  @media @mobile {
      display: flex;
      flex-direction: column;
  }

    .teammembr {
        display: grid;
        background: #9FA8B3;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        justify-items: center;
        margin: 1rem 0rem;

        img {
          max-width: 240px;
          max-height: 240px;
          // Spin animation
          transition: transform 1s 1s, background 1s 1s;

          @media @tablet {
              max-width: 150px;
              max-width: 150px;
          }

          @media @mobile {
              max-width: 300px;
              max-height:300px ;
          }
       }
    }

    h2 {
        color: @threeservi;
        font-family: 'Open sans condensed', sans-serif;
        margin-top: 1.1rem;
        margin-bottom: 0;
        @media @mobile {
            margin-bottom: 0;
        }
    }

    p {
        color: #FEBF10;
        justify-items: center;
        line-height: 2rem;
        font-size: 2rem;
        padding: 0 5%;
    }

    button {
        font-size: 100%;
        font-family: inherit;
        border: none;
        height: 3rem;
        width: 15rem;
        border: none;
        background: transparent;
        font-weight: bold;        
        cursor: pointer;

      @media @tablet {
          width: 6rem;
      }

      @media @mobile {
          margin-bottom: 3rem;
      }
    }
}

.night {
    color: @darktext;
    transition: all 3s linear;
    background-color: @lightM;
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Russo One", sans-serif;
      color: @darktext;
    }
    p{
      color: @darktext;
    }
    .header {
      background-color: @lightM;
      color: @darktext;
      transition: all 1s linear;
      nav {
        a {
          color: @darktext;
        }
      }
    }
    footer {
      background: @lightM;
      color: @darktext;
   }
  }